.App {
  text-align: center;
}

.photoBox1 {
  float: left;
  width: 50%;
  border-style: solid;
  text-align: center;
  border-color: green
}

.photoBox2 {
  float: left;
  width: 50%;
  border-style: solid;
  text-align: center;
  border-color: blue
}

.photoBox3 {
  float: left;
  width: 50%;
  border-style: solid;
  text-align: center;
  border-color: purple
}

.rows {
  display: inline;
}

.column {
  flex: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
}

a {
  text-decoration: none;
}

