.App {
  text-align: center;
}

.photoBox1 {
  text-align: center;
  border-color: green
}

.photoBox2 {
  text-align: center;
  border-color: blue
}

.photoBox3 {
  text-align: center;
  border-color: purple
}

.rows {
  display: inline;
}

.row {
  display: inline;
}